<div class="col-md-4 offset-md-4 mt-5 my-5">
    <div class="card">
        <div class="text-center"><h4>Registro</h4></div>
        <div class="card-body">
        <form action="">
            <div class="form-group">
            <input type="text" name="Nombre" [(ngModel)]="usuario.U_nombre" placeholder="Nombre" class="form-control" autofocus>
            </div>
            <div class="form-group">
            <input type="text" name="Apellido" [(ngModel)]="usuario.U_apellidos" placeholder="Apellido" class="form-control" autofocus>
            </div>
            <div class="form-group">
            <input type="gmail" name="Correo" [(ngModel)]="usuario.U_correo" placeholder="Correo" class="form-control" autofocus>
            </div>
            <div class="form-group">
            <input type="text" name="Clave" [(ngModel)]="usuario.U_clave" placeholder="Clave" class="form-control" autofocus>
            </div>
            <button class="btn btn-success btn-block" (click)="saveNewUsuario()">
                Save
            </button>
        </form>
        </div>
    </div>
</div>



<!--
<div class="col-md-4">
    <div class="card card-body text-center">
    <img [src]="usuario.image == '' ? '/assets/noimage.png' : usuario.image" alt="No Image" class="card-img-top">
      <h3>{{usuario.id}}. {{usuario.title == '' ? 'usuario Title' : usuario.title}}</h3>
      <p>{{usuario.description == '' ? 'Write your Descrition' : usuario.description}}</p>
      <p>{{usuario.created_at | date: 'yyyy-MM-dd'}}</p>
    </div>
</div>
-->