<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/principal/historia">Historia
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/principal/empresa">Empresa
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/principal/registro">Registrarse
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/principal/login">Inicio
          </a>
        </li>
        <!--<li class="nav-item" >
          <a class="nav-link" (click)="onLogout()">Cerrar Sesion
          </a>
        </li>-->
      </ul>
    </div>
  </nav>

  