<footer class="footer">
    <div>
        <ul class="foote_bottom_ul_amrc">
            <li><a href="/">Home</a></li>
            <li><a href="/principal/historia">Historia</a></li>
            <li><a href="/principal/empresa">Empresa</a></li>
        </ul>
        <p class="text-center">Copyright @2019 | <a href="https://buscatcu.ucr.ac.cr/buscatcu/boleta/4328?palabra=663&disciplina=93">TCU 663</a></p>
    </div>
</footer>
